* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

hmtl {
    overflow: auto;
    height: 100%;
    width: 95%;
    margin: auto;
    font-size: 100%;
}

body {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
 
/* Parte principal*/
body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#titulo1 {
    color: #ffffff;
    margin: 5px;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    padding: 2vw;
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: 90vh;
    margin-top: 4vh;
}

#agendeja {
    background: #394937;
    background: radial-gradient(circle, rgba(57,73,55,1) 0%, rgba(102,147,97,1) 55%, rgba(102,147,97,1) 87%);
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0 auto;
}

form {
    background-color: white;
    width: 50%;
    border-radius: 1em;;
    margin: auto;
    padding: 2vw;
}

/*Tabela Agendamento*/
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin:auto;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:5px 20px;
    word-break:normal;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:5px 20px;
    word-break:normal;
}

.tg .tg-baqh{
    text-align:center;
    vertical-align:top
}

.tg .tg-c3ow{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

#mes {
    display: flex;
    justify-content: space-between;
}

.prev-next-btn{
    cursor: pointer;
}

.ocupado {
    background-color: lightgray
}

.livre:hover {
    background-color: rgba(102,147,97,1);
}

.btn-primary {
    background-color: rgba(102,147,97,1) !important;
    border-color: rgba(102,147,97,1) !important;
}